.container-correos {
	display: flex;
	justify-content: space-between;
	padding: 50px 20px;
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
	align-items: center;
}


.stadistics {
	width: 300px;
	background-color: rgb(250, 250, 250);
}

.stadistics-content {
	padding: 25px
}

.env {
	float: left;
	width: 100px;
	font-family: arial;
	font-size: 15px;
}

.line-env {
	padding: 0;
	float: left;
	width: 100px;
	border-top: 3px solid rgb(87, 114, 235);
  height: 2px;
  max-width: 200px;
  margin: 20px auto 0 auto;
}

.number {
	padding: 0 20px;
	float: left;
	width: 10px;
	font-family: arial;
	font-size: 15px;
}

.received {
	padding: 0;
	float: left;
	width: 100px;
	border-top: 3px solid rgb(1, 206, 45);
  height: 2px;
  max-width: 200px;
  margin: 20px auto 0 auto;
}

.notReceived {
	padding: 0;
	float: left;
	width: 100px;
	border-top: 3px solid rgb(246, 7, 7);
  height: 2px;
  max-width: 200px;
  margin: 20px auto 0 auto;
}

.answered {
	padding: 0;
	float: left;
	width: 100px;
	border-top: 3px solid rgb(236, 213, 2);
  height: 2px;
  max-width: 200px;
  margin: 20px auto 0 auto;
}

.message-icons {
	height: 170px;
	width: 300px;
	text-align: center;
	padding-top: 40px;
	background-color: rgb(250, 250, 250);
}

.message-icons p:nth-child(2) {
	font-family: sans-serif;
	font-size: 17px;
}

.message-icons p:nth-child(3) {
	text-align: left;
	padding-left: 78px;
	font-family:sans-serif;
	font-size: 25px;
}

.line-vertical {
	position:absolute;
	top: 218px;
	width: 3px;
  height: 70px;
  float: left;
	margin-left: 51px
}

.line-sent {
	background-color: rgb(87, 114, 235);
}

.line-received {
	background-color: rgb(1, 206, 45);
}

.line-notReceived {
	margin-left: 40px;
	background-color: rgb(246, 7, 7);
}

.line-answered {
	margin-left: 40px;
	background-color: rgb(236, 213, 2);
}

.message-answered {
	padding-right: 70px;
}
